<main>
  <div class="sideBar">
    <div class="sideHead">
      <h3 class="titleSideBar">Carros</h3>
      <h3 class="titleSideBar">Motos</h3>
    </div>

    <div class="contSideBar">
      <h6>Localização</h6>

    <form>
      <input class="text" type="text" placeholder="Digite seu Estado ou Cidade">
    </form>

    <hr>

    <h6>Ofertas</h6>
    <div class="ofertas">
      <input class="check" type="checkbox" placeholder="Mega Feirão"> 
      <h6>Mega Feirão</h6>
    </div>

    <hr class="marca">

    <h6>Marca do Carro</h6>


    <div class="marcaCars">
      <article class="imgMarcas">
        <img width="85" src="https://th.bing.com/th/id/R.3bd649b94067ad46e33c5ba232b7415a?rik=1qx7HCQ9TcSnVA&riu=http%3a%2f%2fpngimg.com%2fuploads%2fbmw_logo%2fbmw_logo_PNG19713.png&ehk=FKIy3EeVVkGz%2bi%2f4bdcwAyfPOxHB0s%2f%2fkpWLdhf2Bko%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1" alt="">
      </article>

      <article class="imgMarcas">
        <img width="80" src="https://th.bing.com/th/id/OIP.vFJiqUAS7nSoTCblp4_l5QHaHa?pid=ImgDet&rs=1" alt="">
      </article>
    </div>

    </div>
  </div>

  <div class="cont">
    <div class="contHead">
      <h5>{{localidade}}</h5>
      <h5>{{ano}}</h5>
      <h5>{{faixaPreco}}</h5>
    </div>

    <div class="conteudoPag">
      <h3>Carros Novos e Usados em {{localidade}} a partir do ano {{ano}}</h3>

      <div class="carros">
        <div class="partimentCar">
          <article class="car">
            <img class="fotoCar" src="https://image.webmotors.com.br/_fotos/AnuncioUsados/gigante/2022/202201/20220110/volkswagen-jetta-2.0-350-tsi-gasolina-gli-dsg-WMIMAGEM1414224400.jpg?s=fill&w=249&h=186&q=70" alt="">
  
            <h4>{{nomeCarro}}</h4>
            <h6 class="modelo"> 1.6 MI Confortline</h6>
            <h4 class="preco"> R$ 40.000,00</h4>
            <div class="rodape">
              <p>2020</p> <p>93.000km</p>
            <p>São José Dos Campos</p>
            </div>
          </article>
  
          <article class="car">
            <img class="fotoCar" src="https://image.webmotors.com.br/_fotos/AnuncioUsados/gigante/2022/202201/20220110/volkswagen-jetta-2.0-350-tsi-gasolina-gli-dsg-WMIMAGEM1414224400.jpg?s=fill&w=249&h=186&q=70" alt="">
  
            <h4>{{nomeCarro}}</h4>
            <h6 class="modelo"> 1.6 MI Confortline</h6>
            <h4 class="preco"> R$ 40.000,00</h4>
            <div class="rodape">
              <p>2020</p> <p>93.000km</p>
            <p>São José Dos Campos</p>
            </div>
          </article>
  
          <article class="car">
            <img class="fotoCar" src="https://image.webmotors.com.br/_fotos/AnuncioUsados/gigante/2022/202201/20220110/volkswagen-jetta-2.0-350-tsi-gasolina-gli-dsg-WMIMAGEM1414224400.jpg?s=fill&w=249&h=186&q=70" alt="">
  
            <h4>{{nomeCarro}}</h4>
            <h6 class="modelo"> 1.6 MI Confortline</h6>
            <h4 class="preco"> R$ 40.000,00</h4>
            <div class="rodape">
              <p>2020</p> <p>93.000km</p>
            <p>São José Dos Campos</p>
            </div>
          </article>
        </div>

        <div class="partimentCar">
          <article class="car">
            <img class="fotoCar" src="https://image.webmotors.com.br/_fotos/AnuncioUsados/gigante/2022/202201/20220110/volkswagen-jetta-2.0-350-tsi-gasolina-gli-dsg-WMIMAGEM1414224400.jpg?s=fill&w=249&h=186&q=70" alt="">
  
            <h4>{{nomeCarro}}</h4>
            <h6 class="modelo"> 1.6 MI Confortline</h6>
            <h4 class="preco"> R$ 40.000,00</h4>
            <div class="rodape">
              <p>2020</p> <p>93.000km</p>
            <p>São José Dos Campos</p>
            </div>
          </article>
  
          <article class="car">
            <img class="fotoCar" src="https://image.webmotors.com.br/_fotos/AnuncioUsados/gigante/2022/202201/20220110/volkswagen-jetta-2.0-350-tsi-gasolina-gli-dsg-WMIMAGEM1414224400.jpg?s=fill&w=249&h=186&q=70" alt="">
  
            <h4>{{nomeCarro}}</h4>
            <h6 class="modelo"> 1.6 MI Confortline</h6>
            <h4 class="preco"> R$ 40.000,00</h4>
            <div class="rodape">
              <p>2020</p> <p>93.000km</p>
            <p>São José Dos Campos</p>
            </div>
          </article>
  
          <article class="car">
            <img class="fotoCar" src="https://image.webmotors.com.br/_fotos/AnuncioUsados/gigante/2022/202201/20220110/volkswagen-jetta-2.0-350-tsi-gasolina-gli-dsg-WMIMAGEM1414224400.jpg?s=fill&w=249&h=186&q=70" alt="">
  
            <h4>{{nomeCarro}}</h4>
            <h6 class="modelo"> 1.6 MI Confortline</h6>
            <h4 class="preco"> R$ 40.000,00</h4>
            <div class="rodape">
              <p>2020</p> <p>93.000km</p>
            <p>São José Dos Campos</p>
            </div>
          </article>
        </div>

        
        
      </div>
    </div>
  </div>
</main>