.sideBar{
    background-color: #fff;
    width: 320px;
    height: 100vh;
    border-radius: 5px;
    margin-top: 3px;
    text-align: center;
    position: fixed;
    z-index: 3;
    margin-top: 70px;
    transition: left .5s;
}

.contSideBar{
    line-height: 0px;
    text-align: start;
    margin-left: 15px;
    width: 100%;
}

hr{
    width: 101%;
    margin-top: 25px;
    margin-left: -20px;
    color: #dfe0e7;
}

.sideHead{
    display: flex;
}

.titleSideBar{
    font-weight: 500;
    margin-left: 15%;
    color: #979ba4;
}

img{
    cursor: pointer;
}

h6{
    font-weight: 600;
    font-size: 16px;
    text-align: start;
}

.text{
    width: 80%;
    border-radius: 10px;
    border: 2px solid #dfe0e7;
    padding: 7px;
}

main{
    display: flex;

}

.imgMarcas{
    margin-left: 10px;
}

.imgMarcas:hover{
    cursor: pointer;
    transition: 0.3s all;
}

.marca{
    width: 101%;
}

.marcaCars{
    display: flex;
    flex-direction: row;
}


.ofertas{
    margin-top: -25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.check{
    margin-right: 15px;
}


.cont{
    display: flex;
    flex-direction: column;
}

.contHead{
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 80vw;
    margin-top: 2px;
    align-items: center;
}

h5{
    margin-left: 15px;
    border: 2px solid grey;
    padding: 10px;
    border-radius: 10px;
}

.conteudoPag{
    text-align: center;
    width: 100%;

}

.carros{
    margin-left: 22%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.partimentCar{
    margin-top: 10%;
    margin-left: 25%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    place-content: stretch center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    justify-content: center;
}

.car{
    margin-bottom: 5px;
    line-height: 10px;
    border-radius: 10px;
    margin-left: 6px;
    border: 2px solid white;
    background-color: white;
}
.fotoCar{
    border-bottom: 2px solid grey;
}
h4{
    font-weight: 550;
    text-align: start;
    font-size: 22px;
}

.preco{
    margin-top: 40px;
}
.modelo{
    font-weight: 450;
    text-align: start;
}

p{
    margin-left: 12px;
    font-size: 12px;
}

.rodape{
    display: flex;
}

.titleSideBar:hover{
    cursor: pointer;
    color: #000;
    transition: 0.3s all;
}


header{
    align-items: center;
    box-shadow: -1px -1px 5px #b1b6bd;
    background-color: #fff;
    height: 9.2vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
}

.icon{
    margin-top: 2px;
    margin-left: 16px;
}

.icon:hover{
    cursor: pointer;
}

ul{
    display: flex;
    flex-direction: row;
}

li{
    margin-right: 35px;
    margin-left: 15px;
    color: transparent;
}

a{
    margin-bottom: 5px;
    text-decoration: none;
    color: #595864;
}

a:hover{
    color: black;
    transition: 0.3s all;
}

/*responsividades*/

@media screen and (max-width: 768px) {
    header{
        height: 17vh;
        width: 100vw;
        flex-direction: column;
    }
}